@import '../helpers/mixins.scss';

.navbar{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    margin: 0;
    padding: 0;
    outline: none;
    overflow-x: hidden;


    nav{
     width: 100%;
     width: 100%;
     position: fixed;
     z-index: 99;
     top: 0;
     background-color: #03030338;
     
     
    
     
 
     
    .imgnav{
        height: 80px;
        padding-top: 15px;
    }
    }

    ul{
       display: flex;
       list-style: none;
        justify-content: center;
        align-items: center;

    }

    .bi-diamond{
        color: rgb(255, 255, 255);
        margin-left: 30px;

    }
    li{
      @include fuente(18px,bold,rgb(255, 255, 255),2px);
      padding-left: 2rem;
    }
}

