*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
     
   
   
}

.container .slide .item{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 220px);
}
.slide .item:nth-child(5){
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}

.item{
    background-size:cover;
}

.item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 350px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
    letter-spacing: 5px;
}


.slide .item:nth-child(2) .content{
    display: block;
}


.content .name{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    font-size: 17px;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
    font-family: "crimson Roman"; 
    letter-spacing: 2px;
    
}

.content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 50px;
    height: 45px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #1b0bf8;
    transition: 0.3s;
    background-color: #1b0bf8;
}

.button button:hover{
    background: #ababab;
    color: #fff;
}

.galleryC{
height: auto;
background-image: url(https://images2.alphacoders.com/130/thumb-1920-1301377.jpg);
background-size: cover;
position: relative;
margin-top:100vh;
overflow: hidden;



&::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.553); // Oscurece el fondo
    z-index: 0;
   
}
 
* {
    position: relative;
    z-index: 1;
}
h1{
    text-align: center;
    padding-top: 3rem;
    text-transform: uppercase;
    font-size: 50px;
    color: white;
    animation: titulo 4.5s ease-in-out infinite;
    text-shadow: 8px 3px 8px #1250ed;
    filter: brightness(80%);
}
}

.cards{

    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    transform:translatex(5%) ;
    
    .card{
      background-image: url(https://caracol.com.co/resizer/v2/https%3A%2F%2Fcloudfront-us-east-1.images.arcpublishing.com%2Fprisaradioco%2FNGKLCAVLPBHDVKVJJTTHPO2P5U.jpg?auth=c70f3d10a6dd5e56b0b14c78f63d1f42384f51b2b5d10acc9ccf34a88b9e5ec9&height=3456&width=5184&quality=70&smart=true);
      background-size: cover;
      padding: 1rem;
      margin: 10px;
      border-radius: 30px;
      position: relative;
      border-bottom: 2px solid white;
      box-shadow: 0px 13px 37px -11px rgba(255, 255, 255, 0.598);
      overflow: hidden;
     width: 180px;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .infoc{
        height: 50%;
        width:100%;
        position: absolute; 
        left: 0;
        color: #eee;
        z-index: 1;
        transition: opacity .3s ease-in-out,transform .5s ease-in-out;
        transform: translateY(100%); 
        opacity: 0; 
        padding:0;
        letter-spacing: 2px;
        text-align: center;


    }
       
    &:hover .infoc {
        position: relative;
        transform: translateY(0);
        opacity: 1;
        
    }

    img{
        height:200px;
        border-radius: 20px;
    }
    }
}

.infoc h5{
    font-family: "crimson Roman"; 
}


     